NEXT_PUBLIC_GITHUB_CLIENT_ID=

NEXT_PUBLIC_BITBUCKET_CLIENT_KEY=

NEXT_PUBLIC_GITLAB_CLIENT_ID=
NEXT_PUBLIC_GITLAB_SECRET_ID=

NEXT_PUBLIC_REDIRECT_URI_GITHUB=
NEXT_PUBLIC_REDIRECT_URI_GITLAB=

NEXT_PUBLIC_BACKEND_URI=
